.buyContainer {
    margin: 0;
    .buyBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .buyContent {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3.12rem;
            .profile {
                margin: 3.6225rem 1.88rem 0 0;
                padding: 0;
            }
            .buyProfile {
                display: flex;
                flex-direction: column;
                gap: 1.81rem;
                .buyTitle {
                    color: #000;
                    font-size: 1.5rem;
                    font-weight: 700;
                }    
                .buyInfo {
                    width: 49.125rem;
                    border-radius: 0rem 0rem 1.875rem 1.875rem;
                    .buyInfo-top {
                        height: 3.5625rem;
                        border-radius: 0.625rem 0.625rem 0rem 0rem;
                        background: #F0F9F8;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-align: center;
                        color: #3EB7AF;
                        font-size: 1rem;
                        font-weight: 600;
                        justify-content: space-between;
                        .buyInfo-title {
                            display: flex;
                            flex-direction: row;
                            gap: 6.5rem;
                            margin: auto 2.37rem;
                            .buyInfo-image {
                                width: 4.625rem; /* 버튼의 너비와 동일하게 설정 */
                                height: 100%; /* 버튼의 높이와 동일하게 설정 */
                                border-radius: 0.625rem;
                                background-color: #D1EFEE; /* 빈 요소의 배경색을 설정해주세요 */
                            }
                        }
                        .buyInfo-content {
                            display: flex;
                            flex-direction: row;
                            gap: 4.67rem;
                            margin: auto 2.7rem;
                            align-items: center;
                            text-align: center;
                        }
                    }
                    .buyInfo-scrollable {
                        max-height: 37.125rem; /* 원하는 높이로 조정 */
                        overflow-y: scroll;
                        scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
                        -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
                        &::-webkit-scrollbar {
                            width: 0px;
                            height: 0px;
                        }
                        .buyItems {
                            height: 6.1875rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-align: center;
                            justify-content: space-between;
                            border-bottom: 0 solid #E4E4E4;
                            .buyItem-title {
                                display: flex;
                                flex-direction: row;
                                gap: 3.63rem;
                                margin: auto 2.25rem;
                                align-items: center;
                                color: #000;
                                text-align: center;
                                align-items: center;
                                font-size: 0.875rem;
                                font-weight: 500;
                                .buyItem-image {
                                    width: 4.25rem; 
                                    height: 4.25rem; 
                                    border-radius: 0.625rem;
                                    background-color: #D9D9D9; /* 빈 요소의 배경색을 설정해주세요 */
                                }
                                .buyItem-product {
                                    color: #000;
                                    text-align: center;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    width: 9.25rem;
                                }
                            }
                            .buyItem-content {
                                display: flex;
                                flex-direction: row;
                                gap: 2.81rem;
                                margin: auto 2.12rem;
                                align-items: center;
                                text-align: center;
                                color: #000;
                                text-align: center;
                                font-size: 0.875rem;
                                font-weight: 500;
                                .buyItem-price {
                                    width: 5.0625rem;
                                    text-align: center;
                                    padding: auto;
                                }
                                .buyItem-date {
                                    width: 5.23125rem;
                                    text-align: center;
                                }
                                .buyItem-used {
                                    width: 5.0625rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
