.myPageContainer {
    margin: 0;
    .myPageBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .myPageContent {
            flex-grow: 1;
            padding: auto;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3.25rem;
            .myPageTitle {
                color: #000;
                font-size: 1.5rem;
                font-weight: 700;
            }
            .profile {
                margin: 3.6225rem 1.88rem 0 0;
                padding: 0;
            }
            .myPageProfile {
                display: flex;
                flex-direction: column;
                gap: 1.88rem;
                .myPageInfo {
                    width: 49rem;
                    height: 39.5625rem;
                    border-radius: 0.625rem;
                    background: #F0F9F8;
                    .myPageInfo-content {
                        margin: 3.5rem 0 0 4.87rem;
                        width: 25.4375rem;
                        height: 32.625rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .custom-table {
                            width: 100%;
                            border-collapse: collapse;
                            text-align: center;
                            tr:not(:first-child) td:nth-child(2) {
                                padding-left: 0.75rem;
                            }
                        }
                        .custom-table td {
                            text-align: left; /* 왼쪽 정렬 */
                            padding: 2.375rem 0;
                            
                            .profileChange {
                                display:flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 1.56rem;
                                .myProfile {
                                    width: 4.125rem;
                                    height: 4.125rem;
                                }
                                .filebox label {
                                    display: flex;
                                    width: 2.9375rem;
                                    height: 1.1875rem;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 0.625rem;
                                    border-radius: 0.1875rem;
                                    border: 1px solid #3EB7AF;
                                    color: #797979;
                                    font-size: 0.625rem;
                                    font-weight: 500;
                                    line-height: 0.79588rem;
                                    cursor: pointer;
                                }
                                .filebox input[type="file"] {  /* 파일 필드 숨기기 */
                                    display: none;
                                } 
                        }
                        .custom-table tr:first-child td {
                            padding-top: 0; /* 첫 번째 행 위쪽 간격 없음 */
                        }  
                        .custom-table tr:last-child td {
                            padding-bottom: 0; /* 마지막 행 아래쪽 간격 없음 */
                        }
                        .custom-table tr td:first-child {
                            color: #797979;
                            font-size: 1.125rem;
                            font-weight: 600;
                        }
                        .custom-table tr td:second-child {
                            color: #000;
                            font-size: 0.875rem;
                            font-weight: 500;
                        }
                        .profileNameChange {
                            display:flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 2.3rem;
                            .myNameInput {
                                border: none;
                                outline: none;
                                background-color: transparent;
                                color: #797979;
                                font-size: 1rem;
                                font-weight: 500;
                                width: 2.6rem;
                                height: 1.0625rem;
                            }
                        }                          
                    }
                    .myPageOut {
                        color: #B0B0B0;
                        font-size: 0.75rem;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}}