.holdContainer {
    margin: 0;
    .holdBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .holdContent {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3.25rem;
            .profile {
                margin: 3.6925rem 1.87rem 0 0;
                padding: 0;
            }
            .holdProfile {
                display: flex;
                flex-direction: column;
                gap: 1.88rem;
                .holdTitle {
                    color: #000;
                    font-size: 1.5rem;
                    font-weight: 700;
                }    
                .HoldInfo {
                    width: 49.0625rem;
                    border-radius: 0rem 0rem 1.875rem 1.875rem;
                    .HoldInfo-top {
                        height: 3.5625rem;
                        border-radius: 0.625rem 0.625rem 0rem 0rem;
                        background: #D1EFEE;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        text-align: center;
                        color: #3EB7AF;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: auto 2.19rem auto 2.88rem;
                        gap: 0.5rem;
                        .HoldInfo-Img {
                            width: 3.22056rem;
                            text-align: center;
                        }
                        .HoldInfo-Rate {
                            width: 2.625rem;
                            text-align: center;
                        }
                        .HoldInfo-Price {
                            width: 4.125rem;
                            text-align: center;
                        }
                        .HoldInfo-Price2 {
                            width: 4.125rem;
                            text-align: center;
                        }
                        .HoldInfo-Price3 {
                            width: 4.125rem;
                            text-align: center;
                        }
                        .HoldInfo-Price4 {
                            width: 4.125rem;
                            text-align: center;
                        }
                    }
                    .holdInfo-scrollable {
                        max-height: 35rem; /* 원하는 높이로 조정 */
                        overflow-y: scroll;
                        scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
                        -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
                        &::-webkit-scrollbar {
                            width: 0px;
                            height: 0px;
                        }
                        .holdItems {
                            height: 7rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-align: center;
                            border-bottom: 0.0625rem solid #ABE2DF;
                            justify-content: space-around;
                            padding: auto 2.19rem auto 2.88rem;
                            gap: 1rem;
                            .HoldItems-profile {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .HoldItems-img {
                                    width: 3.22056rem;
                                    height: 3.22056rem;
                                    border-radius: 50%;
                                    margin-bottom: 0.22rem;
                                }
                                .HoldItems-Title {
                                    color: #000;
                                    text-align: center;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    margin-bottom: 0.12rem;
                                    word-break: break-word;
                                    width: 3.0625rem;
                                    height: 1rem;
                                    overflow: hidden;
                                }
                                .HoldItems-Code {
                                    color: #B0B0B0;
                                    text-align: center;
                                    font-size: 0.625rem;
                                    font-weight: 500;
                                }
                            }
                                .HoldItems-Rate {
                                    color: #FF1C1C;
                                    text-align: center;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                }
                                .HoldItems-Value {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0.06rem;
                                    width: 3.95rem;
                                    .HoldItems-Stock {
                                        color: #797979;
                                        text-align: center;
                                        font-size: 0.875rem;
                                        font-weight: 500;
                                    }
                                    .HoldItems-Price {
                                        color:  #B0B0B0;
                                        text-align: center;
                                        font-size: 0.625rem;
                                        font-weight: 500;
                                    }
                             }
                                .HoldItems-Num {
                                    color: #797979;
                                    text-align: center;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    width: 3.75rem;
                                    text-align: center;
                                }
                                .holdItem-heart {
                                    width: 1rem;
                                    height: 1rem;
                                    text-align: center;
                                }    
                        }
                    }
                }
            }
        }
    }
}
