.tbDetailContainer {
    margin: 0;
    .tbDetailBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .tbDetailContent {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .tbDetailTop {                
                display: flex;
                flex-direction: row;
                margin: 2.69rem 0 1.37rem 0;                
                align-items: left;
                .tbDetailTitle {
                    color: #000;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            .tbDetailInfo {
                width: 52.875rem;
                .tbDetailInfo-scrollable {
                    max-height: 48.125rem; /* 원하는 높이로 조정 */
                    overflow-y: scroll;
                    scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
                    -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
                    .tbDetail2Img { /* tbDetail2 코스피 코스닥 이미지 간격 */
                        margin-top: 20px;
                        margin-right: 20px;
                    }   
                    .tbDetailList {
                        width: 52.6875rem;
                        height: 6rem;
                        display: flex;
                        flex-direction: row;
                        padding: 1.13rem 1.94rem 1.19rem 1.81rem;
                        gap: 9rem;
    
                        .tbDetailItemDate {
                            color: #797979;
                            font-size: 0.875rem;
                            font-weight: 400;
                            margin-bottom: 0.25rem;            
                        }      
                        .tbDetailImage {
                            width: 6rem;
                            height: 6rem;
                            border-radius: 0.625rem;
                            background-color: #D9D9D9;
                        }
                    }
                    &::-webkit-scrollbar {
                        width: 0px;
                        height: 0px;
                    }                    
                }  
            }
            .tbTitleInfo {
                color: #000;                 
                font-size: 1.25rem;                   
                font-weight: 600;
                margin-bottom: 10px;                
            }       
        }  
    }
}
.tbDetailList {
    padding: 1.13rem 1.94rem 1.19rem 1.81rem;
 
        .tbDetailItemTitle {
            color: var(--main-3, #3EB7AF);
            font-size: 1rem;
            font-weight: 700;
            padding-bottom:10px;
        }
        .tbDetailItemContent {
            color: #000;
            font-size: 0.875rem;
            font-weight: 400;
            }
        .tbDetailItemDate {
            color: #797979;
            font-size: 0.875rem;
            font-weight: 400;
            margin-bottom: 0.25rem;            
        }    
}
.TbDetail1-Table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    table {
        width: 52.875rem;
        border-collapse: collapse;
        margin: 20px;
        thead {
            height: 3.84544rem;
            border-radius: 0.625rem 0.625rem 0rem 0rem;
            background: var(--main-2, #D1EFEE);
            color: var(--main-3, #3EB7AF);                 
            font-size: 1rem;                    
            font-weight: 600;         
        }
        .thtext{
            border-right : 1px solid #ABE2DF;
        }
        td {
            height: 3.84544rem;
            border-bottom : 1px solid #ABE2DF;
            font-size: 0.875rem;
            font-weight: 500;
        }
        .rowtext {
            color: #000;
            font-size: 1rem;
            font-weight: 600;
            border-right : 1px solid #ABE2DF;
        }
    }
}
.TbDetail1-Table thead th:first-child {
    border-top-left-radius: 10px;
  }
  
.TbDetail1-Table thead th:last-child {
    border-top-right-radius: 10px;
  }

